html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}
aside{
    width: 5%;height: 100%;float: right;
    background-color: beige;
    align-items:center;
}
#mainCanvas{
    float: left;
}
.icon{
    width: 94%;
    background-color: beige;
}
.icon:hover{
    transform:scale(1.1);
    cursor: pointer;
}
.select{
    transform:scale(1.1);
    background-color: bisque;
}
.inputBox{
    position: fixed;
    display: none;
    font-size: 15px;
    height: 23px;
    width: 100px;
    top: 0px;
    left: 0px;
}
.floatImage{
    position: fixed;
    height: auto;
}